* {
    margin: 0;
    padding: 0;
}

::-webkit-datetime-edit-day-field:focus, ::-webkit-datetime-edit-month-field:focus, ::-webkit-datetime-edit-year-field:focus {
    color: white; 
    background-color: rgb(170, 170, 170);
    border-radius: 2px;
}

::-webkit-datetime-edit-text {
    margin: 0 3px;
}

header {
    margin: 2% 30% 25px 30%;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
}

header p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 45px 0 25px 0;
    font-size: 14px;
}

header hr {
    /* Style Here */
}

main {
    margin: 0 30%;
}

main .section-01 {
    /* Style Here */
}

main .section-01 h2 {
    display: inline-flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 26px;
    height: 32px;
}

main .section-02 {
    border: 1px solid rgb(231, 231, 231);
    height: 550px;
    margin-top: 10px;
}

main .section-02 .figure-01 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

main .section-02 .figure-01 input {
    color: black;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(231, 231, 231);
    padding: 0 10px;
    margin: 0 5px;
    width: 340px;
    height: 30px;
    border-radius: 4px;
}

main .section-02 .figure-01 #emailAddress {
    text-transform: lowercase;
}

main .section-02 .figure-01 input:focus {
    border: 1px solid rgb(202, 202, 202);
}

main .section-02 .figure-02 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(110, 110, 110);
    font-size: 14px;
}

main .section-02 .figure-02 [for = "userName"] {
    position: relative;
    left: 15px;
}

main .section-02 .figure-02 [for = "emailAddress"] {
    position: relative;
    left: 318px;
}

main .section-02 .figure-03 {
    margin-top: 10px;
}

main .section-02 .figure-03 input {
    cursor: text;
    color: black;
    outline: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(231, 231, 231);
    padding: 0 10px;
    margin: 0 15px;
    width: 340px;
    height: 30px;
    border-radius: 4px;
}

main .section-02 .figure-03 input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
}

main .section-02 .figure-03 input:focus {
    border: 1px solid rgb(202, 202, 202);
}

main .section-02 .figure-03 label {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(110, 110, 110);
    font-size: 14px;
    margin: 0 15px;
}





main .section-02 .figure-04 {
    display: flex;
    visibility: hidden;
    justify-content: center;
    height: 50px;
    margin-top: 15px;
}

main .section-02 .on {
    visibility: visible;
}

main .section-02 .figure-04 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 139, 139);
    font-size: 14px;
    height: 24px;
    width: 300px;
    border-radius: 4px;
}

main .section-02 .figure-05 {
    display: flex;
    justify-content: center;
    margin-top: 285px;
}

main .section-02 .figure-05 a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 30px;
    width: 400px;
    border-radius: 6px;
}

main .section-02 .figure-05 a:active {
    background-color: rgb(44, 44, 44);
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 30% 0 30%;
    font-size: 14px;
}